* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  background-image: url("http://assets.londonist.com/uploads/2016/04/vagabondcoffee2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  max-width: 100%;
  overflow-x: hidden;
}

header {
  width: 100%;
  margin-bottom: 2%;
}

table {
  margin-left: 5%;
  width: 80%;
  height: 300px;
}

td {
  display: inline-block;
  margin-top: 0;
  padding-top: 0;
}

button {
  width: 100px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.title {
  margin: 2%;
  color: white;
}

.navbar-brand {
  font-weight: bold;
  font-size: 30px;
  color: #fff !important;
}

.navbar {
  background-image:
    linear-gradient(#663300, #D2691E);
  height: 100px;
}

.dropdown-menu {
  background-image:
    linear-gradient(#663300, #D2691E);
}

.nav-link, .dropdown-item {
  color: white!important;
}

.dropdown-item:hover {
    font-weight: bold;
    background-color: #6f4e37;
    color: white !important;
  }

a {
  text-decoration: none;
  display: inline-block;
  margin-right: 20px;
}

.name {
margin-right: 5px;
color: red;
font-size: 22px;
}

.price {
  margin-right: 20px;
  color: green;
  font-size: 22px;
}
