ul {
  list-style: none;
}

nav ul li {
  display: inline-block;
  min-width: 100px;
  text-align: center;
}

nav ul li a.active {
  background-color: #fcfcfc;
}

a {
  text-decoration: none;
  display: inline-block;
  margin-right: 20px;
}

.drinkInformation,.toppingInformation {
  display: block;
  width: 75%;
}

.name {
display: inline-block;
margin-right: 20px;
color: red;
font-size: 22px;
}

.price {
  display: inline-block;
  margin-right: 20px;
  color: green;
  font-size: 18px;
}
