<section ng-controller="DrinksIndexController as drinksIndex">

  <div ng-show="drinksIndex.chooseDrinkAndTopping()">
    <h2 class="title">Choose your drink</h2>
    <table>
      <tr ng-repeat="drink in drinksIndex.all">
        <td class="name">{{ drink.name }} - </td>
        <td class="price">£{{ drink.price }}</td>
        <td><button type="button" name="button" ng-click="drinksIndex.addToBasket(drink)">Add to cart</button></td>
      </tr>
    </table>
  </div>


  <!-- <div ng-controller="ToppingsIndexController as toppingsIndex" class="allToppings" ng-hide="drinksIndex.chooseDrinkAndTopping()"> -->
  <div ng-hide="drinksIndex.chooseDrinkAndTopping()" class="allToppings">
    <h2 class="title">Choose your Topping</h2>
    <table>
      <tr ng-repeat="topping in drinksIndex.selectedDrink.availableTopping"  class="toppingInformation">
        <td class="name">{{ topping.name }}</td>
        <td class="price">£{{ topping.price }}</td>
        <td><button type="button" class="basket" ng-click="drinksIndex.addToBasket({toppingName: drink.availebleTopping.name, toppingPrice: drink.availebleTopping.price})">Add to cart</button></td>
        <!-- <td><button type="button" class="basket" ng-click="drinksIndex.addToBasket(drink)">Add to cart</button></td> -->
      </tr>
    </table>
  </div>

  <div class="basket">
    <h4 class="title">Your Basket</h4>
  </div>
</section>
